*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: var(--font-medium);
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--light-grayish-blue);
}

:root {
    --very-dark-grayish-blue: #48556a;
    --desaturated-dark-bluee: #6d7f97;
    --grayish-blue: #9eafc2;
    --light-grayish-blue: #ecf2f8;
    --font-bold: manropebold, sans-serif;
    --font-medium: manropemedium, sans-serif;
}

@font-face {
    font-family: ManropeBold;
    src: url("fonts/Manrope-Bold.woff2")format("woff2"),
        url("fonts/Manrope-Bold.woff")format("woff"),
        url("fonts/Manrope-Bold.truetype")format("ttf");
}

@font-face {
    font-family: ManropeMedium;
    src: url("fonts/Manrope-Medium.woff2")format("woff2"),
        url("fonts/Manrope-Medium.woff")format("woff"),
        url("fonts/Manrope-Medium.truetype")format("ttf");
}

.subtitle {
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    font-size: 1.125em;
}

.image {
    width: 100%;
    height: 11.875rem;
    object-fit: cover;
    object-position: 0 -1rem;
}

.main {
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;
    max-width: 28.125rem;
}

.contain {
    padding: 2rem 1.75rem;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.75rem;
    margin-bottom: 1rem;
}

.profile {
    display: flex;
    gap: 0.625rem;
}

.btn-share {
    width: 2rem;
    height: 2rem;
    display: grid;
    border: none;
    background: none;
    place-items: center;
    background-color: var(--light-grayish-blue);
    border-radius: 100%;
}

.img-profile {
    width: 2.5rem;
    border-radius: 100%;
    object-fit: scale-down;
}

.content-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

.name-user {
    text-transform: capitalize;
    font-size: 1em;
}

.share-container {
    padding: 1rem 1.75rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-dark-grayish-blue);
    display: none;
}

.share {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

.share a {
    line-height: 0;
}

.subtitle~p {
    font-size: 0.99em;
}

.name-user~p {
    font-size: 1em;
    color: var(--very-dark-grayish-blue);
}

.share h3 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 100;
    color: var(--grayish-blue);
}

.btn-share:hover {
    background-color: var(--desaturated-dark-bluee);
    cursor: pointer;
}

.share-container .btn-share {
    background-color: var(--desaturated-dark-bluee);
}

.btn-share:hover .share-svg path {
    fill: #ecf2f8;
}

.share-container .btn-share .share-svg path {
    fill: #ecf2f8;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        bottom: 5.625rem;
    }
    
    100% {
        opacity: 1;
        bottom: 6.25rem;
    }
}

@media screen and (min-width: 55rem) {
    body {
        min-height: 100vh;
        margin: 0;
        display: grid;
        place-items: center;
    }

    .share-container {
        position: absolute;
        right: -2.813rem;
        border-radius: 0.625rem;
        z-index: 5;
        animation: fade-up 500ms forwards;
    }

    .main {
        max-width: none;
        width: 46rem;
        display: flex;
        overflow: visible;
    }

    .image {
        height: 18rem;
        object-position: 0;
        width: 17.813rem;
        border-radius: 1rem 0 0 1rem;
    }

    .contain {
        padding: 0;
    }

    .profile-container {
        padding: 0;
        margin: 0;
        margin-top: 1rem;
    }

    .block {
        position: relative;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .subtitle {
        font-size: 1.55em;
    }

    .subtitle~p {
        font-size: 1.05em;
    }

    .share-container::after {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        z-index: -5;
        position: absolute;
        left: calc(50% - calc(1rem / 2));
        bottom: -0.5rem;
        border-radius: 0.313rem;
        transform: rotate(45deg);
        background-color: inherit;
    }
}